<!DOCTYPE html>
<html>
 
<head>
    <title>THIS WAS SO HARD</title>
</head>
 
<body>
    <h2>Hygge</h2>
 <button><a href="signup">Sign Up</a></button>
 <button><a href="signin">Sign In</a></button>
</body>
 
</html>