    <div class="backgroundgray p-2 navbar">
        <span>
            <a href="#">
                <img src="assets/images/Logo(horizontal)-yellow.png" class="full logo">
                <img src="assets/images/icon.png" class="icon logo">
            </a>
        </span>
        <div class="floatright regularfont eighteenpixelfont">
            <a class="textyellow pinkhover" href="#">
                Sign in
            </a>
        </div>
    </div>

    <!--QUIZ CONTAINER-->

    <div class="container bordergray p-2 mt-4">
        <div class="row">
            <div class="col-12 textgray sixteenpixelfont regularfont">
                Filters
            </div>
        </div>
        <div class="form-group w100">
            <div class="row text-center">
                <div class="col-4 textgray sixteenpixelfont regularfont p-0">
                    <label for="price">Price</label> 
                    <select id="price" class="inline-block chw75 bordergraythin corners">
                        <option>Show all</option>
                        <option>Less than $50</option>
                        <option>$50-$100</option>
                        <option>$100-$500</option>
                        <option>More than $500</option>
                    </select>
                </div>
                <div class="col-4 textgray sixteenpixelfont regularfont p-0">
                    <label for="piece">Piece</label> 
                    <select id="piece" class="inline-block chw75 bordergraythin corners">
                        <option>Show all</option>
                        <option>Tables</option>
                        <option>Chairs</option>
                        <option>Storage</option>
                        <option>Decorations</option>
                    </select>
                </div>
                <div class="col-4 textgray sixteenpixelfont regularfont p-0">
                    <label for="Rating">Rating</label> 
                    <select id="Rating" class="inline-block chw75 bordergraythin corners">
                        <option>Show all</option>
                        <option>5 stars and above</option>
                        <option>4 stars and above</option>
                        <option>3 stars and above</option>
                        <option>2 stars and above</option>
                        <option>1 stars and above</option>
                        <option>0 stars and above</option>
                    </select>
                </div>
            </div>
        </div>
        <div id="hide" class="row lightfont w100">
            hide
        </div>
    </div>


    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/results.js"></script>
